<div class="row-fluid center-elem">
<div class="update_big_elem">	
  <h1>Редактирование лота</h1>
</div>
</br>


<%= render 'form' %>

<%#= link_to 'Show', @lot %> 
<%#= link_to 'Back', myadmin_lots_path %>
</div>
