<%
# named block
page_lots = "Лоты"
page_buttles = "Битвы"
%>

<div class="navigation_admin">
<ul class="nav nav-pills pull-right">
  <li <% if current_page? myadmin_lots_path %> class="active" <% end %>     >
  	<%= 
  	  link_to_unless_current(page_lots, myadmin_lots_path) do 
  	  	link_to(page_lots, "#")
  	  end	
  	%>
  </li>
  <li  <% if current_page? myadmin_buttles_path %> class="active" <% end %> >
  	<%= 
  	  link_to_unless_current(page_buttles, myadmin_buttles_path) do 
  	  	link_to(page_buttles, "#")
  	  end	
  	%>
  </li>
  <li></li>
</ul>
</div>
<div class="clear"></div>