	<div class="row-fluid">
		<div class="span12">
			<div class="row-fluid">
				<div class="span2 offset1">
					<!-- <img href="#" class="thumbnail"> -->
					<p style="text-align:center">
						<% logo = image_tag("decor/logo.jpg", :alt=>"Sample app", :class=>"img-rounded", :width=>"100")%>
						<%= link_to logo, root_path, :class => "thumbnail_null" %>
					</p>
				</div>	
				<div class="span8">
					<!-- <img href="#" class="thumbnail"> -->
					<h2 style="text-align:center">
						Битвы этого города
					</h2>

					<div class="row-fluid">
						<div class="span12">
						  <p class="center-elem">Битвы</p>
						</div>  
					</div>		

				</div>		

			</div>
		</div>
	</div>
	<hr>