	<div class="row-fluid">
		<div class="span12">
			<div class="row-fluid">
				<div class="span12">
					<!-- <img href="#" class="thumbnail"> -->
					<p style="text-align:center">
						<% logo = image_tag("decor/logo.jpg", :alt=>"Sample app", :class=>"img-rounded", :width=>"100")%>
						<%= link_to logo, root_path, :class => "thumbnail_null" %>
					</p>
	  				<%#= link_to logo, root_path, :class => "" %>
	  			 	<!--</img> -->
				</div>	
			</div>
			<div class="row-fluid">
				<div class="span12">
					<h1 style="text-align:center">
			  			Битвы нашего города!
					</h1>
				</div>	
			</div>
		</div>
	</div>
	<hr>