	<div class="row-fluid">
		<div class="span2">
			<p style="text-align:center">
  				vk: <span class="count_voice" id="vk_lot_left">1</span>
			</p>	
		</div>	
		<div class="span2">
			<p style="text-align:center">
  				fb: <span class="count_voice" id="fb_lot_left">1</span>
			</p>	
		</div>	
		<div class="span2">
			<p style="text-align:center">
  				tw: <span class="count_voice" id="tw_lot_left">1-left</span>
			</p>	
		</div>	
		<div class="span2">
			<p style="text-align:center">
  				vk: <span class="count_voice" id="vk_lot_right">1</span>
			</p>	
		</div>	
		<div class="span2">
			<p style="text-align:center">
  				fb: <span class="count_voice" id="fb_lot_right">1</span>
			</p>	
		</div>	
		<div class="span2">
			<p style="text-align:center">
  				tw: <span class="count_voice" id="tw_lot_right">1-right</span>
			</p>	
		</div>	
	</div>