/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

#share_left_vk{
	cursor:pointer;
}
.my_line {
        line-height: 1.1;
        margin-top: 5%;
      }
      
.container-narrow {
        margin: 0 auto;
        max-width: 700px;
      }      
.divcenter {
  margin-left: 30%;
}

.elem_center {
	display: block;
	margin-left: 30%;
    margin-right: auto;
}

.center-elem {
	text-align: center;
}

.a {
	color: white;
}