/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

textarea {
  height: 150px !important;
  width: 350px !important;  
}

#share_vk_right{
	cursor:pointer;
}
#share_vk_left{
  cursor:pointer;
}

#share_tw_right{
  cursor:pointer;
}
#share_tw_left{
  cursor:pointer;
}

.my_line {
        line-height: 1.1;
        margin-top: 5%;
      }
      
.container-narrow {
        margin: 0 auto;
        max-width: 700px;
      }      
.divcenter {
  margin-left: 30%;
}

.elem_center {
	display: block;
	margin-left: 30%;
    margin-right: auto;
}

.center-elem {
	text-align: center;
}

.a {
	color: white;
}

.navigation_admin {
  height: 30px;
}

.clear {
  clear: right;
}

.modal {
  display:none ;
}

.update_big_elem {
  margin-bottom: 15px;
  text-align: center;
}

.update_big_elem h1{
  font-size: 40px;
  line-height: 1;
}

.update_div {
  width: 30px;
}

.mywrap {
  word-wrap: break-word;
}


.name_wrap {
  width: 100px; 
}


.desc_wrap {
  width: 200px; 
}
.btn.btn-info {
  color: white;
}

.btn.btn-warning {
  color: white;
}

.btn.btn-danger {
  color: white;
}

a.btn.btn-simple {
  color: black !important;
}

.modal {
  width: 660px !important;
}

.count_voice_all {
  font-size : 120px;
}

.p_count_voice_all {
  margin-top: 40px;
}

/* Костыль - бутстрап не всегда отображает текст на кнопках белым*/

/*
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}
*/

